<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>gsplus</string>
    <key>CFBundleGetInfoString</key>
    <string>0.12s, Copyright 2016 Dagen Brock</string>
    <key>CFBundleIconFile</key>
    <string>gsp-icons.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.dagenbrock.gsplus</string>
    <key>CFBundleDocumentTypes</key>
    <array>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.12s</string>
    <key>CFBundleSignature</key>
    <string>gsplus</string>
    <key>CFBundleVersion</key>
    <string>0.12s</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2016 Dagen Brock</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.3</string>
</dict>
</plist>
