/*
  GSPLUS - Advanced Apple IIGS Emulator Environment
  Based on the KEGS emulator written by Kent Dickey
  See COPYRIGHT.txt for Copyright information
	See COPYING.txt for license (GPL v2)
*/

#include <os2.h>
#include "gsportos2.h"

ICON    ID_WINDOW gsportos2.ico

BITMAP  ID_BITMAP gsportos2.bmp

MENU    ID_WINDOW PRELOAD
BEGIN
  SUBMENU "~Options", ID_OPTIONS
  BEGIN
    MENUITEM "Option ~1\tCtrl+A", ID_OPTION1, MIS_TEXT
    MENUITEM "Option ~2\tCtrl+B", ID_OPTION2, MIS_TEXT
    MENUITEM "Option ~3\tCtrl+C", ID_OPTION3, MIS_TEXT
  END
END

ACCELTABLE ID_WINDOW PRELOAD
BEGIN
  VK_F3, ID_EXITPROG, VIRTUALKEY
END

STRINGTABLE PRELOAD
BEGIN
 IDS_HELLO, "Hello"
END
