/*
 GSport - an Apple //gs Emulator
 Copyright (C) 2010 by GSport contributors

 Based on the KEGS emulator written by and Copyright (C) 2003 Kent Dickey

 This program is free software; you can redistribute it and/or modify it 
 under the terms of the GNU General Public License as published by the 
 Free Software Foundation; either version 2 of the License, or (at your 
 option) any later version.

 This program is distributed in the hope that it will be useful, but 
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY 
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License 
 for more details.

 You should have received a copy of the GNU General Public License along 
 with this program; if not, write to the Free Software Foundation, Inc., 
 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
*/

#include <os2.h>
#include "gsportos2.h"

ICON    ID_WINDOW gsportos2.ico

BITMAP  ID_BITMAP gsportos2.bmp

MENU    ID_WINDOW PRELOAD
BEGIN
  SUBMENU "~Options", ID_OPTIONS
  BEGIN
    MENUITEM "Option ~1\tCtrl+A", ID_OPTION1, MIS_TEXT
    MENUITEM "Option ~2\tCtrl+B", ID_OPTION2, MIS_TEXT
    MENUITEM "Option ~3\tCtrl+C", ID_OPTION3, MIS_TEXT
  END
END

ACCELTABLE ID_WINDOW PRELOAD
BEGIN
  VK_F3, ID_EXITPROG, VIRTUALKEY
END

STRINGTABLE PRELOAD
BEGIN
 IDS_HELLO, "Hello"
END
