#include <windows.h>
#include "winresource.h"

// $Id: $

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_GSPORT32 MENU DISCARDABLE
BEGIN
    POPUP "&Emulator"
    BEGIN
        MENUITEM "&Set Disk Configuration", 	ID_FILE_DISK
        MENUITEM "Send CTRL Reset\tCTRL-BREAK", ID_FILE_SENDRESET
        MENUITEM "Reboot\tCTRL-ALT-BREAK", 	ID_FILE_SENDREBOOT
        MENUITEM SEPARATOR
        MENUITEM "Toggle &Joystick",            ID_FILE_JOYSTICK
        MENUITEM "Toggle Debug Statistics",     ID_FILE_DEBUGSTAT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Key Commands",                ID_HELP_KEY
        MENUITEM SEPARATOR
        MENUITEM "&About",                      ID_HELP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

// CREATEPROCESS_MANIFEST  RT_MANIFEST             "gsport.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDC_GSPORT32             BITMAP  DISCARDABLE     "wintoolbar.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCEL ACCELERATORS DISCARDABLE 
BEGIN
    VK_F1,          ID_FILE_DISK,           VIRTKEY, ALT, NOINVERT
    VK_F4,          ID_FILE_EXIT,           VIRTKEY, ALT, NOINVERT
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDC_GSPORT32              ICON    DISCARDABLE     "win32.ico"
GSPORT32_ICON             ICON    DISCARDABLE     "win32.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT_DIALOG DIALOG DISCARDABLE  0, 0, 207, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,78,61,50,14
    LTEXT           "GSport: GS Emulator.\nBased on KEGS by Kent Dickey\nWindows Port by Chea Chee Keong\n\nThis software is licensed under GNU GPL.",
                    IDC_STATIC,38,7,162,45,NOT WS_GROUP
    ICON            "GSPORT32_ICON",IDC_STATIC,7,7,21,20,0
END

IDD_DLG_DISKCONF DIALOGEX 0, 0, 268, 182
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Disk Configuration"
FONT 8, "MS Sans Serif", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,150,161,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,203,161,50,14
    LTEXT           "S5D1",IDC_STATIC,19,46,19,8
    EDITTEXT        IDC_EDIT_S5D1,43,42,156,14,ES_AUTOHSCROLL,
                    WS_EX_ACCEPTFILES
    PUSHBUTTON      "Browse",IDC_BTN_S5D1,203,42,50,14
    LTEXT           "S5D2",IDC_STATIC,19,62,19,8
    EDITTEXT        IDC_EDIT_S5D2,43,60,155,14,ES_AUTOHSCROLL,
                    WS_EX_ACCEPTFILES
    PUSHBUTTON      "Browse",IDC_BTN_S5D2,203,60,50,14
    LTEXT           "S6D1",IDC_STATIC,19,80,19,8
    EDITTEXT        IDC_EDIT_S6D1,43,77,156,14,ES_AUTOHSCROLL,
                    WS_EX_ACCEPTFILES
    PUSHBUTTON      "Browse",IDC_BTN_S6D1,203,77,50,14
    LTEXT           "S6D2",IDC_STATIC,19,98,19,8
    EDITTEXT        IDC_EDIT_S6D2,43,95,156,14,ES_AUTOHSCROLL,
                    WS_EX_ACCEPTFILES
    PUSHBUTTON      "Browse",IDC_BTN_S6D2,203,96,50,14
    LTEXT           "S7D1",IDC_STATIC,19,118,19,8
    EDITTEXT        IDC_EDIT_S7D1,43,115,155,14,ES_AUTOHSCROLL,
                    WS_EX_ACCEPTFILES
    PUSHBUTTON      "Browse",IDC_BTN_S7D1,203,115,50,14
    LTEXT           "S7D2",IDC_STATIC,19,137,19,8
    EDITTEXT        IDC_EDIT_S7D2,43,135,155,14,ES_AUTOHSCROLL,
                    WS_EX_ACCEPTFILES
    PUSHBUTTON      "Browse",IDC_BTN_S7D2,203,135,50,14
    GROUPBOX        "Disk settings",IDC_STATIC,7,7,254,148
    LTEXT           "Configure your disk images for each drive.  Disk image formats supported\nare *.2MG,*.PO and *.DSK.  ",
                    IDC_STATIC,19,20,234,16
END

IDD_SPEEDDIALOG DIALOG  0, 0, 240, 129
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Speed Control"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "1 MHz",IDC_SLOW,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,45,41,51,13
    CONTROL         "2.5 MHz",IDC_NORMAL,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,45,55,43,13
    CONTROL         "As fast as possible",IDC_FASTEST,"Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP,45,69,74,13
    CONTROL         "Custom (MHz)",IDC_CUSTOM,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,45,83,69,13
    EDITTEXT        IDC_EDITCUSTOM,117,83,79,13,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,133,107,50,15
    PUSHBUTTON      "Cancel",IDCANCEL,183,107,50,15
    GROUPBOX        "Speed Control",IDC_STATIC,7,7,226,96,WS_GROUP
    LTEXT           "Adjust the speed of your emulator by selecting the appropriate speed control",
                    IDC_STATIC,46,19,181,19,NOT WS_GROUP
    ICON            IDC_GSPORT32,IDC_STATIC,14,19,21,20
END

IDD_GSPORT32_KEY DIALOG  0, 0, 186, 172
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Help About Key Commands"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,65,151,50,14
    LTEXT           "GSport Key Commands",IDC_STATIC,7,7,82,10
    LTEXT           "Alt/F1\t\tOpen-Apple\nF2\t\tClose-Apple\nF7\t\tToggle Fast Disk Emulation\nF8\t\tToggle Mouse Pointer\n\t\tDisplay\n",
                    IDC_STATIC,21,25,151,42
    LTEXT           "F11\t\tToggle Fullscreen Display\nF12\t\tReset\nCtrl-Alt-Break\tReboot Emulator\nCtrl-Alt-Esc\tControl-Panel\nCtrl-Break\tReset Emulator",
                    IDC_STATIC,21,66,141,50
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME | WS_DISABLED | 
                    WS_BORDER,7,17,172,1
    LTEXT           "Please visit http://gsport.sourceforge.net",
                    IDC_STATIC,21,124,144,19
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
    ID_FILE_DISK            "Disk Configuration"
END

STRINGTABLE 
BEGIN
    ID_SPEED_1MHZ           "Set Speed to 1 Mhz"
    ID_SPEED_2MHZ           "Set Speed to 2.5 Mhz"
    ID_SPEED_FMHZ           "Set Speed to as fast as possible"
END



